.myGifsCardsContainer {
  display: flex;
  flex-wrap: wrap;
  min-height: 70vh;
  max-height: fit-content;
  margin: 2%;
  background-color: black;
  flex-direction: row;
  justify-content: space-evenly;
}

.singleCardContainer {
  width: 220px;
  height: 250px;
  margin: 10px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.singleCardContainer img {
  height: 90%;
  width: auto;
  max-width: 100%;
  border-radius: 33px;
}

.hoverDeleteBtn {
  position: absolute;
  top: 5%;
  left: 80%;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.singleCardContainer:hover .hoverDeleteBtn {
  opacity: 1;
}

.categoryContainer {
  height: 10%;
  max-height: 10%;
  max-width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}

#gifCategory {
  color: white;
  max-height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
