.searchBarInput {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1%;
}

.searchBar {
  border-radius: 33px;
  height: 30px;
  width: 100%;
  border-color: white;
  margin-top: 1%;
  text-align: center;
}
