.btnAndSearchContainer {
  width: 100%;
  min-height: 30vh;
  /* height: 20vh; */
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showSearchBtn {
  margin-top: 2%;
}

/* .searchSection1 {
  display: flex;
  background-color: purple;
} */
